@using Controle_de_Horas.Models

@{
    var lstRetorno = Model as List<Projeto>;
}

<div>

    <!--TABELA-->
    <table class="table table-bordered table-striped">

        <!--COLUNAS-->
        <thead>
            <tr>
                <th class="text-center">Código do Projeto</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Data Inicio</th>
                <th class="text-center">Data Fim</th>
                <th class="text-center"></th>
            </tr>
        </thead>

        <!--LINHAS-->
        <tbody>

            @{
                if (lstRetorno != null)
                {
                    foreach (var item in lstRetorno)
                    {
                        <tr id="@item.IdProjeto">
                            <td>@item.IdProjeto</td>
                            <td>@item.Descricao</td>
                            <td>@item.Data_Inicio.ToString("dd/MM/yyyy")</td>
                            <td>@item.Data_Fim.ToString("dd/MM/yyyy")</td>
                            <td>
                                <button class="btn btn-sm btn-info btnEditarProjeto">
                                    Editar
                                </button>

                                <button class="btn btn-sm btn-danger btnDeletarProjeto">
                                    Deletar
                                </button>
                            </td>
                        </tr>
                    }
                }
            }

        </tbody>

    </table>

</div>

<script>
    $(".btnEditarProjeto").click(function () {

        $.ajax({
            url: "../Projeto/Editar",
            type: "POST",
            data: { id: $(this).closest("tr").attr("id") },
            success: function (dados) {

                $("#IdProjeto").val(dados.IdProjeto);
                $("#Descricao").val(dados.Descricao);
                $("#Data_Inicio").val(dados.Data_Inicio);
                $("#Data_Fim").val(dados.Data_Fim);

                $("#IdProjeto").attr("disabled", "disabled");
                $("#idPartialProjeto").html('');

                $("#idPeriodo").removeClass('hide');
                $("#idEditarProj").removeClass('hide');
                $("#btnEditarProj").removeClass('hide');
                $("#btnVoltarProj").removeClass('hide');
                $("#btnCadastrarProj").addClass('hide');
                $("#btnPesquisarProj").addClass('hide');
                $("#idPesquisaProj").addClass('hide');
            }
        });
    });

    $(".btnDeletarProjeto").click(function () {
        var item = {
            IdProjeto: $(this).closest("tr").attr("Id"),
        }

        $.ajax({
            url: "../Projeto/DeletarProjeto",
            type: "POST",
            data: { item: item },
            success: function (dados) {
                alert(dados)
                window.location.href = "../Projeto/Index";
            }
        });
    });
</script>