@model LubyTest.Models.Lauch

@{
    ViewData["Title"] = "Remover Horas";
}

<h5>Tem certeza que deseja remover?</h5>
<hr />
<div style="padding-top: 40px" class="col-md-6">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StarDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StarDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Remover" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index"> << Voltar</a>
    </form>
</div>
