@model IEnumerable<LubyTest.Models.Lauch>

@{
    ViewData["Title"] = "Top Desenvolvedores";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>

            </tr>
        }
    </tbody>
</table>
