@using Controle_de_Horas.Models

@{
    var lstDesenvolvedores = Model as List<LancamentoDeHoras>;
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <br />
    <div class="row center-block">
        <!-- HEADER -->
        <div class="widget-header">
            <h4 class="widget-title lighter smaller">
                <i class="ace-icon fa fa-star orange"></i>
                Ranking dos Desenvolvedores
            </h4>
        </div>

        <!--TABELA-->
        <table class="table table-bordered table-striped">

            <!--COLUNAS-->
            <thead class="thin-border-bottom">
                <tr>
                    <th class="text-center"><i class="ace-icon fa fa-caret-right blue"></i>Desenvolvedor</th>
                    <th class="text-center"><i class="ace-icon fa fa-caret-right blue"></i>Horas Trabalhadas</th>
                    <th class="text-center"><i class="ace-icon fa fa-caret-right blue"></i>Periodo</th>
                </tr>
            </thead>

            <!--LINHAS-->
            <tbody>

                @{
                    if (lstDesenvolvedores != null)
                    {
                        foreach (var dev in lstDesenvolvedores)
                        {
                            <tr id="@dev.Id">
                                <td>@dev.NomeDev</td>
                                <td>@dev.Horastrabalhadas</td>
                                <td>@string.Format("{0} até {1}", @dev.DataInicio, @dev.DataFim)</td>
                            </tr>
                        }
                    }
                }

            </tbody>

        </table>

    </div>
</div>